* {
  margin: 0;
  padding: 0;
  font-family: 'Basis Grotesque Pro Light', sans-serif;
}

body {
  width: 750px;
  height: 300px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #070e1f;
  color: #fff;
  height: auto;
  width: 100%;
  padding: 2%;
}

.nav-left {
  flex-grow: 4;
}

.nav-left__logo,
.nav-left__title {
  display: inline-block;
  margin: 0;
}

.nav-left__title h1 {
  font-size: 18px;
}

.nav-right__search input#search {
  margin: 0;
  font-family: inherit;
  tab-size: 4;
  font-size: 14px;
  line-height: inherit;
  border: 0 solid;
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
  height: 60%;
  padding: 5px;
}

button {
  box-sizing: inherit;
  color: #eeeeee;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-right: 0px;
  background: transparent;
  font-size: 14px;
  text-align: center;
  font-weight: 700;
  border: 1px solid #dcdbff;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  text-decoration: none;
  border-radius: 8px;
  display: inline-block;
  width: 100%;
  padding-left: 48px;
  padding-right: 48px;
  background-color: #070e1f;
}

button:hover {
  line-height: 1.5;
  box-sizing: inherit;
  background: transparent;
  font-size: 14px;
  text-align: center;
  font-weight: 700;
  border: 1px solid #dcdbff;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  text-decoration: none;
  border-radius: 8px;
  display: inline-block;
  text-decoration-color: inherit;
  color: #070e1f;
  background-color: #eeeeee;
}

.content {
  padding: 1% 2%;
  height: auto;
}

.event {
  margin-bottom: 1%;
  padding: 1%;
  background-color: blue;
  border: 1px solid #f5f5f5;
  color: #fff;
  font-size: 18px;
}

.page {
  background: linear-gradient(
    135.55deg,
    rgba(253, 29, 29, 1) 6.09%,
    rgba(252, 176, 69, 1) 116.03%
  );
}

.track {
  background: linear-gradient(
    135.55deg,
    rgb(62, 53, 209) 6.09%,
    rgb(134, 248, 224) 116.03%
  );
}

.identify {
  background: linear-gradient(
    135.55deg,
    rgba(255, 0, 243, 1) 6.09%,
    rgba(0, 255, 190, 1) 116.03%
  );
}

.event pre {
  background-color: #fff;
  color: black;
}

.event-details__short {
  display: flex;
  flex-direction: column;
}

.event-details__short.top,
.event-details__short.bottom {
  display: flex;
  flex-direction: row;
}

.event-details__short.bottom {
  justify-content: space-between;
}

.event-details__short.type {
  font-weight: 700;
}

.event-details__short.type,
.event-details__short.name {
  color: #fff;
  font-size: 16px;
}

.event-details__short.userId,
.event-details__short.anonymousId,
.event-details__short.sentAt {
  color: #000;
  font-size: 12px;
}

.collapsed .event-details__full {
  display: none;
}

.expanded .event-details__full {
  display: block;
}

.string {
  color: green;
}
.number {
  color: darkorange;
}
.boolean {
  color: blue;
}
.null {
  color: magenta;
}
.key {
  color: red;
}

.contet__search-button {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.contet__search-button button {
  width: 254.172px;
}
